---
repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.0
    hooks:
      - id: pyupgrade

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.0
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format

  - repo: local
    # TODO: replace once available
    hooks:
      - id: ty
        name: ty check
        entry: uvx ty@latest check
        language: system
        always_run: true
        pass_filenames: false

  - repo: https://github.com/tombi-toml/tombi-pre-commit
    rev: v0.6.31
    hooks:
      - id: tombi-format
      - id: tombi-lint

  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout

  - repo: local
    hooks:
      - id: just-format
        name: just-format
        language: system
        stages: [pre-commit]
        entry: just --fmt --unstable
        pass_filenames: false
        always_run: true
