[project]
name = "rbyte"
version = "0.26.1"
description = "Multimodal PyTorch dataset library"
authors = [{ name = "Evgenii Gorchakov", email = "evgenii@yaak.ai" }]
maintainers = [{ name = "Evgenii Gorchakov", email = "evgenii@yaak.ai" }]
dependencies = [
  "tensordict>=0.8.2",
  "torch",
  "numpy",
  "polars[pyarrow]>=1.29.0",
  "duckdb>=1.2.2",
  "pydantic>=2.11.3",
  "more-itertools>=10.6.0",
  "hydra-core>=1.3.2",
  "optree>=0.15.0",
  "cachetools>=5.5.2",
  "structlog>=25.2.0",
  "tqdm>=4.67.1",
  "pipefunc[autodoc]>=0.68.0",
  "xxhash>=3.5.0",
]
readme = "README.md"
requires-python = ">=3.12,<3.13"
license = { text = "Apache-2.0" }
classifiers = [
  "Development Status :: 3 - Alpha",
  "Intended Audience :: Developers",
  "Intended Audience :: Science/Research",
  "License :: OSI Approved :: Apache Software License",
  "Operating System :: POSIX :: Linux",
  "Programming Language :: Python :: 3.12",
  "Topic :: Scientific/Engineering :: Artificial Intelligence",
]

[project.urls]
repo = "https://github.com/yaak-ai/rbyte"

[project.optional-dependencies]
build = ["hatchling>=1.27.0"]
protos = ["grpcio-tools>=1.70.0", "protoletariat>=3.3.10"]
visualize = ["rerun-sdk[notebook]>=0.23.0"]
mcap = ["mcap>=1.2.2", "mcap-protobuf-support>=0.5.3", "protobuf"]
yaak = ["ptars>=0.0.5", "protobuf"]
jpeg = ["simplejpeg>=1.8.2"]
video = ["torchcodec>=0.3.0"]
hdf5 = ["h5py>=3.13.0"]
geo = ["polars-st==0.1.0a27"]

[tool.uv.sources]
torchcodec = [
  { index = "darwin", marker = "sys_platform == 'darwin'" },
  { index = "linux", marker = "sys_platform == 'linux'" },
]
torch = [
  { index = "darwin", marker = "sys_platform == 'darwin'" },
  { index = "linux", marker = "sys_platform == 'linux'" },
]

[[tool.uv.index]]
name = "darwin"
url = "https://download.pytorch.org/whl/cpu"
explicit = true

[[tool.uv.index]]
name = "linux"
url = "https://download.pytorch.org/whl/cu126"
explicit = true

[project.scripts]
rbyte-visualize = 'rbyte.scripts.visualize:main'

[build-system]
requires = ["hatchling>=1.27.0"]
build-backend = "hatchling.build"

[dependency-groups]
dev = [
  "wat-inspector>=0.4.3",
  "lovely-tensors>=0.1.18",
  "pudb>=2024.1.2",
  "ipython>=8.32.0",
  "ipython-autoimport>=0.5",
  "pytest>=8.3.5",
  "testbook>=0.4.2",
  "ipykernel>=6.29.5",
  "pipefunc[plotting]",
]

[tool.hatch.metadata]
allow-direct-references = true

[tool.hatch.build]
reproducible = true

[tool.hatch.build.targets.sdist]
include = ["src/rbyte"]
exclude = ["src/rbyte/io/yaak/idl-repo"]
artifacts = ["src/rbyte/io/yaak/proto/*_pb2.py*"]

[tool.hatch.build.targets.sdist.hooks.custom]
enable-by-default = true
require-runtime-features = ["protos"]

[tool.hatch.build.targets.wheel]
packages = ["src/rbyte"]
artifacts = ["src/rbyte/io/yaak/proto/*_pb2.py*"]

[tool.basedpyright]
typeCheckingMode = "all"
enableTypeIgnoreComments = true
reportMissingTypeStubs = "none"
reportAny = "none"
reportExplicitAny = "none"
reportIgnoreCommentWithoutRule = "error"

venvPath = "."
venv = ".venv"
include = ["src/"]
ignore = ["src/**/*_pb2.py", "**/*.pyi"]

[tool.ruff]
extend-exclude = ['*_pb2.py']
output-format = "grouped"
preview = true
fix = true
unsafe-fixes = true
target-version = "py312"

[tool.ruff.format]
preview = true
skip-magic-trailing-comma = true

[tool.ruff.lint]
preview = true
select = ["ALL"]
fixable = ["ALL"]
ignore = [
  "A001",
  "A002",
  "D",
  "CPY",
  "COM812",
  "F722",
  "PD901",
  "ISC001",
  "TD",
  "TC006",
]

[tool.ruff.lint.isort]
split-on-trailing-comma = false

[tool.pytest.ini_options]
addopts = ["-ra", "-vv", "--import-mode=importlib"]
testpaths = ["tests"]
