#@yaml/text-templated-strings

#@ cameras = [
#@     'rgb',
#@ ]
---
_target_: rbyte.viz.loggers.RerunLogger
_convert_: all
_recursive_: false
application_id: carla-garage
recording_name: [meta, input_id]
schema:
  _idx_:
    _target_: rerun.TimeColumn
    sequence: [data, measurements/_idx_]

  #@ for/end camera in cameras:
  (@=camera@):
    - _target_: rerun.Image.columns
      buffer: [data, (@=camera@)]

    - static: true
      _target_: rerun.Image.from_fields
      format:
        _target_: rerun.components.ImageFormat
        height: 512
        width: 1024
        color_model: RGB
        channel_datatype: u8

  #@ for entity, key in {
  #@     "brake": "measurements/brake",
  #@     "steer": "measurements/steer",
  #@     "throttle": "measurements/throttle",
  #@     "speed": "measurements/speed",
  #@     "heading": "waypoints/heading",
  #@ }.items():
  (@=entity@):
    - _target_: rerun.Scalars.columns
      scalars: [data, "(@=key@)"]
  #@ end

  waypoints:
    - _target_: rerun.Points2D.columns
      positions: [data, "waypoints/waypoints_normalized"]
