#@yaml/text-templated-strings

#@ camera_topics = {
#@     "CAM_FRONT": "/CAM_FRONT/image_rect_compressed",
#@     "CAM_FRONT_LEFT": "/CAM_FRONT_LEFT/image_rect_compressed",
#@     "CAM_FRONT_RIGHT": "/CAM_FRONT_RIGHT/image_rect_compressed",
#@ }
---
_target_: rbyte.viz.loggers.RerunLogger
_convert_: all
_recursive_: false
application_id: nuscenes
recording_name: [meta, input_id]
spawn: true
schema:
  #@ topic = camera_topics.values()[0]
  (@=topic@)/log_time:
    _target_: rerun.TimeColumn
    timestamp: [data, "(@=topic@)/log_time"]
    dtype: datetime64[ns]

  #@ for/end topic in camera_topics.values():
  (@=topic@)/_idx_:
    _target_: rerun.TimeColumn
    sequence: [data, "(@=topic@)/_idx_"]

  #@ for/end camera in camera_topics.keys():
  (@=camera@):
    - _target_: rerun.Image.columns
      buffer: [data, (@=camera@)]

    - static: true
      _target_: rerun.Image.from_fields
      format:
        _target_: rerun.components.ImageFormat
        height: 900
        width: 1600
        color_model: RGB
        channel_datatype: u8

  /odom/vel.x:
    - _target_: rerun.Scalars.columns
      scalars: [data, /odom/vel.x]
