#@yaml/text-templated-strings

#@ drives = [
#@     'DynamicObjectCrossing/Town12_Rep0_3201_0_route0_11_08_02_22_17'
#@ ]

#@ cameras = [
#@     'rgb',
#@ ]
---
_target_: rbyte.Dataset.from_config
_recursive_: false
_convert_: all
streams:
  #@ for/end camera in cameras:
  (@=camera@):
    index: measurements/_idx_
    sources:
      #@ for/end drive in drives:
      (@=drive@):
        _target_: rbyte.io.PathTensorSource
        path: "${data_dir}/(@=drive@)/(@=camera@)/{:04d}.jpg"
        decoder:
          _target_: simplejpeg.decode_jpeg
          _partial_: true
          colorspace: rgb
          fastdct: true
          fastupsample: true

samples:
  inputs:
    input_id:
      #@ for/end drive in drives:
      - (@=drive@)

    measurements_path:
      #@ for/end drive in drives:
      - ${data_dir}/(@=drive@)/measurements.json

    waypoints_path:
      #@ for/end drive in drives:
      - ${data_dir}/(@=drive@)/waypoints.json

  executor:
    _target_: concurrent.futures.ProcessPoolExecutor
    max_workers: 1
    mp_context:
      _target_: multiprocessing.get_context
      method: forkserver

  pipeline:
    _target_: pipefunc.Pipeline
    validate_type_annotations: false
    functions:
      - _target_: pipefunc.PipeFunc
        output_name: measurements
        mapspec: "measurements_path[i] -> ${.output_name}[i]"
        func:
          _target_: makefun.create_function
          func_signature: "build_measurements(*, measurements_path)"
          func_impl:
            _target_: rbyte.io.DuckDBDataFrameQuery
            extensions: [spatial]
            query: |
              SELECT (row_number() OVER () - 1) as _idx_,
                     speed,
                     steer,
                     throttle,
                     brake::DOUBLE AS brake,
                     ST_AsWKB(ST_Point(pos_global[2], pos_global[1])) AS pos_global
              FROM (SELECT unnest(records, recursive := true)
                    FROM read_json($measurements_path)
              )

      - _target_: pipefunc.PipeFunc
        output_name: waypoints_raw
        mapspec: "waypoints_path[i] -> ${.output_name}[i]"
        func:
          _target_: makefun.create_function
          func_signature: "build_waypoints(*, waypoints_path)"
          func_impl:
            _target_: rbyte.io.DuckDBDataFrameQuery
            extensions: [spatial]
            config:
              TimeZone: 'UTC'
            query: |
              SELECT timestamp, heading, ST_AsWKB(geom) AS geometry
              FROM ST_Read($waypoints_path)
              ORDER BY timestamp

      - _target_: pipefunc.PipeFunc
        renames:
          input: waypoints_raw
        output_name: waypoints
        mapspec: "${.renames.input}[i] -> ${.output_name}[i]"
        func:
          _target_: rbyte.io.WaypointBuilder
          length: 10
          columns:
            points: geometry
            output: waypoints

      - _target_: pipefunc.PipeFunc
        output_name: aligned
        mapspec: "measurements[i], waypoints[i] -> ${.output_name}[i]"
        func:
          _target_: makefun.create_function
          func_signature: "align(*, measurements, waypoints)"
          func_impl:
            _target_: rbyte.io.DataFrameAligner
            separator: /
            fields:
              measurements:
                key: _idx_
                columns:
                  speed:
                    method: interp
                  steer:
                    method: interp
                  throttle:
                    method: interp
                  brake:
                    method: interp
                  pos_global:
                    method: asof
                    strategy: nearest

              waypoints:
                key: timestamp
                columns:
                  heading:
                    method: asof
                    strategy: nearest
                  waypoints:
                    method: asof

      - _target_: pipefunc.PipeFunc
        output_name: filtered
        mapspec: "aligned[i] -> ${.output_name}[i]"
        func:
          _target_: makefun.create_function
          func_signature: "filter(*, aligned)"
          func_impl:
            _target_: rbyte.io.DuckDBDataFrameQuery
            extensions: [spatial]
            query: |
              WITH normalized_data AS (
                WITH
                  normalized_geometries AS (
                    SELECT
                      *,
                      ST_Rotate(
                        ST_Translate(
                          ST_GeomFromWKB("waypoints/waypoints"),
                          -ST_X(ST_GeomFromWKB("measurements/pos_global")),
                          -ST_Y(ST_GeomFromWKB("measurements/pos_global"))
                        ),
                        radians("waypoints/heading")
                      ) AS normalized_waypoints_geom
                    FROM
                      aligned
                    WHERE
                      "waypoints/waypoints" IS NOT NULL AND "measurements/pos_global" IS NOT NULL
                )
                SELECT
                  * EXCLUDE (normalized_waypoints_geom),
                  (
                    SELECT
                      list(
                        [ST_X(p.point_struct.geom), ST_Y(p.point_struct.geom)]
                        ORDER BY
                          p.point_struct.path
                      )
                    FROM
                      UNNEST(ST_Dump(normalized_waypoints_geom)) AS p(point_struct)
                  ) AS "waypoints/waypoints_normalized"
                FROM
                  normalized_geometries
                WHERE
                  ST_Contains(
                    ST_MakeEnvelope(-150, -150, 150, 150),
                    normalized_waypoints_geom
                  )
              )
              SELECT
                "measurements/_idx_",
                "measurements/speed",
                "measurements/steer",
                "measurements/throttle",
                "measurements/brake",
                "waypoints/heading",
                "waypoints/waypoints_normalized"::FLOAT[2][10] AS "waypoints/waypoints_normalized"
              FROM
                normalized_data
              WHERE
                "measurements/_idx_" BETWEEN 115 AND 135
              ORDER BY
                "measurements/_idx_";

      - _target_: pipefunc.PipeFunc
        renames:
          keys: input_id
          values: filtered
        output_name: samples_aggregated
        func:
          _target_: rbyte.io.DataFrameConcater
          key_column: input_id
