#@yaml/text-templated-strings

#@ inputs = {
#@     "coffee": [
#@         "/data/demo_0",
#@         "/data/demo_1",
#@     ]
#@ }

#@ frame_keys = [
#@     "obs/agentview_image",
#@ ]
---
_target_: rbyte.Dataset.from_config
_recursive_: false
_convert_: all
streams:
  #@ for/end frame_key in frame_keys:
  (@=frame_key@):
    index: _idx_
    sources:
      #@ for input_id, input_keys in inputs.items():
      #@ for/end input_key in input_keys:
      (@=input_id@)(@=input_key@):
        _target_: rbyte.io.Hdf5TensorSource
        path: "${data_dir}/(@=input_id@).hdf5"
        key: (@=input_key@)/(@=frame_key@)
        #@ end

samples:
  inputs:
    input_id:
      #@ for input_id, input_keys in inputs.items():
      #@ for/end input_key in input_keys:
      - (@=input_id@)(@=input_key@)
      #@ end

    path:
      #@ for input_id, input_keys in inputs.items():
      #@ for/end input_key in input_keys:
      - "${data_dir}/(@=input_id@).hdf5"
      #@ end

    prefix:
      #@ for input_id, input_keys in inputs.items():
      #@ for/end input_key in input_keys:
      - (@=input_key@)
      #@ end

  executor:
    _target_: concurrent.futures.ProcessPoolExecutor
    max_workers: 1
    mp_context:
      _target_: multiprocessing.get_context
      method: forkserver

  pipeline:
    _target_: pipefunc.Pipeline
    validate_type_annotations: false
    functions:
      - _target_: pipefunc.PipeFunc
        output_name: data
        mapspec: "path[i], prefix[i] -> ${.output_name}[i]"
        func:
          _target_: rbyte.io.Hdf5DataFrameBuilder
          fields:
            obs/robot0_eef_pos:

      - _target_: pipefunc.PipeFunc
        renames:
          input: data
        output_name: indexed
        mapspec: "${.renames.input}[i] -> ${.output_name}[i]"
        func:
          _target_: rbyte.io.DataFrameIndexer
          name: _idx_

      - _target_: pipefunc.PipeFunc
        renames:
          keys: input_id
          values: indexed
        output_name: samples_aggregated
        func:
          _target_: rbyte.io.DataFrameConcater
          key_column: input_id
