#@yaml/text-templated-strings

#@ drive_queries = {
#@     "Niro098-HQ/2024-06-18--13-39-54": "SELECT * FROM self WHERE time_stamp BETWEEN TIMESTAMP('2024-06-18 13:39:55') AND TIMESTAMP('2024-06-18 13:40:15')"
#@ }

#@ cameras = [
#@     'cam_front_left',
#@     'cam_left_backward',
#@     'cam_right_backward',
#@ ]
---
_target_: rbyte.Dataset.from_config
_recursive_: false
_convert_: all
streams:
  #@ for/end camera in cameras:
  (@=camera@):
    index: meta/ImageMetadata.(@=camera@)/frame_idx
    sources:
      #@ for/end drive in drive_queries:
      (@=drive@):
        _target_: rbyte.io.TorchCodecFrameSource
        source: ${data_dir}/(@=drive@)/(@=camera@).pii.mp4

samples:
  inputs:
    input_id:
      #@ for/end drive in drive_queries:
      - (@=drive@)

    meta_path:
      #@ for/end drive in drive_queries:
      - "${data_dir}/(@=drive@)/metadata.log"

    meta_query:
      #@ for/end meta_query in drive_queries.values():
      - (@=meta_query@)

    mcap_path:
      #@ for/end drive in drive_queries:
      - "${data_dir}/(@=drive@)/ai.mcap"

    waypoints_path:
      #@ for/end drive in drive_queries:
      - "${data_dir}/(@=drive@)/waypoints.json"

    #@ for/end camera in cameras:
    (@=camera@)_path:
      #@ for/end drive in drive_queries:
      - ${data_dir}/(@=drive@)/(@=camera@).pii.mp4

  parallel: false
  pipeline:
    _target_: pipefunc.Pipeline
    validate_type_annotations: false
    functions:
      - _target_: pipefunc.PipeFunc
        renames:
          path: meta_path
        output_name: meta_raw
        mapspec: "${.renames.path}[i] -> ${.output_name}[i]"
        func:
          _target_: rbyte.io.YaakMetadataDataFrameBuilder
          fields:
            rbyte.io.yaak.proto.sensor_pb2.ImageMetadata:
              time_stamp:
                _target_: polars.Datetime
                time_unit: us

              frame_idx:
                _target_: polars.Int32

              camera_name:
                _target_: polars.Enum
                categories:
                  - cam_front_center
                  - cam_front_left
                  - cam_front_right
                  - cam_left_forward
                  - cam_right_forward
                  - cam_left_backward
                  - cam_right_backward
                  - cam_rear

            rbyte.io.yaak.proto.can_pb2.VehicleMotion:
              time_stamp:
                _target_: polars.Datetime
                time_unit: us

              speed:
                _target_: polars.Float32

            rbyte.io.yaak.proto.sensor_pb2.Gnss:
              time_stamp:
                _target_: polars.Datetime
                time_unit: us

              latitude:
                _target_: polars.Float32

              longitude:
                _target_: polars.Float32

      - _target_: pipefunc.PipeFunc
        renames:
          left: meta_raw
          right: meta_query
        output_name: meta
        mapspec: "${.renames.left}[i], ${.renames.right}[i] -> ${.output_name}[i]"
        func:
          _target_: rbyte.io.TreeBroadcastMapper
        bound:
          func:
            _target_: hydra.utils.get_method
            path: polars.DataFrame.sql

      #@ for/end camera in cameras:
      - _target_: pipefunc.PipeFunc
        renames:
          path: (@=camera@)_path
        output_name: (@=camera@)_meta
        mapspec: "${.renames.path}[i] -> ${.output_name}[i]"
        func:
          _target_: rbyte.io.VideoDataFrameBuilder
          fields:
            frame_idx:
              _target_: polars.Int32

      - _target_: pipefunc.PipeFunc
        renames:
          path: mcap_path
        output_name: mcap
        mapspec: "${.renames.path}[i] -> ${.output_name}[i]"
        func:
          _target_: rbyte.io.McapDataFrameBuilder
          decoder_factories: [rbyte.io.ProtobufMcapDecoderFactory]
          fields:
            /ai/safety_score:
              clip.end_timestamp:
                _target_: polars.Datetime
                time_unit: us

              score:
                _target_: polars.Float32

      - _target_: pipefunc.PipeFunc
        renames:
          path: waypoints_path
        output_name: waypoints_raw
        mapspec: "${.renames.path}[i] -> ${.output_name}[i]"
        func:
          _target_: rbyte.io.DuckDbDataFrameBuilder
        bound:
          query: |
            LOAD spatial;
            SET TimeZone = 'UTC';
            SELECT TO_TIMESTAMP(timestamp)::TIMESTAMP AS timestamp,
                   heading,
                   ST_AsWKB(ST_Transform(geom, 'EPSG:4326', 'EPSG:25832', always_xy := true)) AS geometry
            FROM ST_Read('{path}')

      - _target_: pipefunc.PipeFunc
        renames:
          input: waypoints_raw
        output_name: waypoints
        mapspec: "${.renames.input}[i] -> ${.output_name}[i]"
        func:
          _target_: rbyte.io.WaypointBuilder
          length: 10
          columns:
            points: geometry
            output: waypoints

      - _target_: pipefunc.PipeFunc
        output_name: aligned
        mapspec: "meta[i], mcap[i], waypoints[i] -> ${.output_name}[i]"
        func:
          _target_: makefun.create_function
          func_signature: "align(*, meta, mcap, waypoints)"
          func_impl:
            _target_: rbyte.io.DataFrameAligner
            separator: /
            fields:
              meta:
                ImageMetadata.(@=cameras[0]@):
                  key: time_stamp

                #@ for/end camera in cameras[1:]:
                ImageMetadata.(@=camera@):
                  key: time_stamp
                  columns:
                    frame_idx:
                      method: asof
                      tolerance: 20ms
                      strategy: nearest

                VehicleMotion:
                  key: time_stamp
                  columns:
                    speed:
                      method: interp

                Gnss:
                  key: time_stamp
                  columns:
                    latitude:
                      method: asof
                      tolerance: 500ms
                      strategy: nearest
                    longitude:
                      method: asof
                      tolerance: 500ms
                      strategy: nearest

              mcap:
                /ai/safety_score:
                  key: clip.end_timestamp
                  columns:
                    clip.end_timestamp:
                      method: asof
                      tolerance: 500ms
                      strategy: nearest
                    score:
                      method: asof
                      tolerance: 500ms
                      strategy: nearest

              waypoints:
                key: timestamp
                columns:
                  heading:
                    method: asof
                    strategy: nearest

                  waypoints:
                    method: asof
                    strategy: nearest

      - _target_: pipefunc.PipeFunc
        output_name: filtered
        mapspec: "aligned[i], cam_front_left_meta[i], cam_left_backward_meta[i], cam_right_backward_meta[i] -> ${.output_name}[i]"
        func:
          _target_: makefun.create_function
          func_signature: "df_query(*, query, aligned, cam_front_left_meta, cam_left_backward_meta, cam_right_backward_meta)"
          func_impl:
            _target_: rbyte.io.DataFrameDuckDbQuery
        bound:
          query: |
            LOAD spatial;
            WITH
              base_data AS (
                SELECT
                  *,
                  ST_Transform(
                    ST_Point("meta/Gnss/longitude", "meta/Gnss/latitude"),
                    'EPSG:4326', 'EPSG:25832', always_xy := true
                  ) AS ego_geom,
                  ST_GeomFromWKB("waypoints/waypoints") AS waypoints_geom
                FROM
                  aligned
                  SEMI JOIN cam_front_left_meta
                    ON aligned."meta/ImageMetadata.cam_front_left/frame_idx"
                    = cam_front_left_meta.frame_idx
                  SEMI JOIN cam_left_backward_meta
                    ON aligned."meta/ImageMetadata.cam_left_backward/frame_idx"
                    = cam_left_backward_meta.frame_idx
                  SEMI JOIN cam_right_backward_meta
                    ON aligned."meta/ImageMetadata.cam_right_backward/frame_idx"
                    = cam_right_backward_meta.frame_idx
                WHERE
                  COLUMNS(*) IS NOT NULL
                  AND "meta/VehicleMotion/speed" > 44
              ),
              normalized_geometries AS (
                SELECT
                  *,
                  ST_Rotate(
                    ST_Translate(
                      waypoints_geom,
                      -ST_X(ego_geom),
                      -ST_Y(ego_geom)
                    ),
                    radians("waypoints/heading")
                  ) AS normalized_waypoints_geom
                FROM
                  base_data
              )
            SELECT
              * EXCLUDE (
                waypoints_geom,
                normalized_waypoints_geom
              ),
              (
                SELECT
                  list(
                    [ST_X(p.point_struct.geom), ST_Y(p.point_struct.geom)]
                    ORDER BY
                      p.point_struct.path
                  )
                FROM
                  UNNEST(ST_Dump(normalized_waypoints_geom)) AS p(point_struct)
              ) AS "waypoints/waypoints_normalized"
            FROM
              normalized_geometries
            WHERE
              ST_Contains(
                ST_MakeEnvelope(-150, -150, 150, 150),
                normalized_waypoints_geom
              )
            ORDER BY
              "meta/ImageMetadata.cam_front_left/time_stamp";

      - _target_: pipefunc.PipeFunc
        renames:
          input: filtered
        output_name: samples
        mapspec: "${.renames.input}[i] -> ${.output_name}[i]"
        func:
          _target_: rbyte.io.DataFrameGroupByDynamic
          index_column: meta/ImageMetadata.(@=cameras[0]@)/frame_idx
          every: 6i
          period: 6i

      - _target_: pipefunc.PipeFunc
        output_name: samples_cast
        mapspec: "samples[i] -> ${.output_name}[i]"
        func:
          _target_: makefun.create_function
          func_signature: "df_query(*, query, samples)"
          func_impl:
            _target_: rbyte.io.DataFrameDuckDbQuery
        bound:
          query: |
            SELECT "meta/ImageMetadata.cam_front_left/time_stamp"::TIMESTAMP[6] AS "meta/ImageMetadata.cam_front_left/time_stamp",
                   "meta/ImageMetadata.cam_front_left/frame_idx"::INT32[6] AS "meta/ImageMetadata.cam_front_left/frame_idx",
                   "meta/ImageMetadata.cam_left_backward/frame_idx"::INT32[6] AS "meta/ImageMetadata.cam_left_backward/frame_idx",
                   "meta/ImageMetadata.cam_right_backward/frame_idx"::INT32[6] AS "meta/ImageMetadata.cam_right_backward/frame_idx",
                   "meta/VehicleMotion/speed"::FLOAT[6] AS "meta/VehicleMotion/speed",
                   "mcap//ai/safety_score/clip.end_timestamp"::TIMESTAMP[6] AS "mcap//ai/safety_score/clip.end_timestamp",
                   "mcap//ai/safety_score/score"::FLOAT[6] AS "mcap//ai/safety_score/score",
                   "waypoints/heading"::FLOAT[6] AS "waypoints/heading",
                   "waypoints/waypoints_normalized"::FLOAT[2][10][6] AS "waypoints/waypoints_normalized",
            FROM samples
            WHERE len("meta/ImageMetadata.cam_front_left/frame_idx") == 6

      - _target_: pipefunc.PipeFunc
        renames:
          keys: input_id
          values: samples_cast
        output_name: samples_aggregated
        func:
          _target_: rbyte.io.DataFrameConcater
          key_column: input_id
