---
_target_: rbyte.Dataset.from_config
_recursive_: false
_convert_: all
streams:
  camera_front_blur:
    index: camera_front_blur_meta/timestamp
    sources:
      000002_short:
        _target_: rbyte.io.PathTensorSource
        path: "${data_dir}/sequences/000002_short/camera_front_blur/000002_romeo_{:%Y-%m-%dT%H:%M:%S.%f}Z.jpg"
        index_transform:
          _target_: rbyte.utils.datetime_from_nanos
          _partial_: true
        decoder:
          _target_: simplejpeg.decode_jpeg
          _partial_: true
          colorspace: rgb
          fastdct: true
          fastupsample: true

  lidar_velodyne:
    index: lidar_velodyne_meta/timestamp
    sources:
      000002_short:
        _target_: rbyte.io.NumpyTensorSource
        path: "${data_dir}/sequences/000002_short/lidar_velodyne/000002_romeo_{:%Y-%m-%dT%H:%M:%S.%f}Z.npy"
        index_transform:
          _target_: rbyte.utils.datetime_from_nanos
          _partial_: true
        select: ["x", "y", "z"]

samples:
  inputs:
    input_id: [000002_short]
    camera_front_blur_path: ["${data_dir}/sequences/000002_short/camera_front_blur"]
    lidar_velodyne_path: ["${data_dir}/sequences/000002_short/lidar_velodyne"]
    vehicle_data_path: ["${data_dir}/sequences/000002_short/vehicle_data.hdf5"]

  executor:
    _target_: concurrent.futures.ProcessPoolExecutor
    max_workers: 1
    mp_context:
      _target_: multiprocessing.get_context
      method: forkserver

  pipeline:
    _target_: pipefunc.Pipeline
    validate_type_annotations: false
    functions:
      - _target_: pipefunc.PipeFunc
        renames:
          path: camera_front_blur_path
        output_name: camera_front_blur_meta
        mapspec: "${.renames.path}[i] -> ${.output_name}[i]"
        func:
          _target_: rbyte.io.PathDataFrameBuilder
          pattern: 000002_romeo_(?<timestamp>.+)Z
          fields:
            timestamp:
              _target_: polars.Datetime
              time_unit: ns

      - _target_: pipefunc.PipeFunc
        renames:
          path: lidar_velodyne_path
        output_name: lidar_velodyne_meta
        mapspec: "${.renames.path}[i] -> ${.output_name}[i]"
        func:
          _target_: rbyte.io.PathDataFrameBuilder
          pattern: "000002_romeo_(?<timestamp>.+)Z"
          fields:
            timestamp:
              _target_: polars.Datetime
              time_unit: ns

      - _target_: pipefunc.PipeFunc
        renames:
          path: vehicle_data_path
        output_name: vehicle_data
        mapspec: "${.renames.path}[i] -> ${.output_name}[i]"
        func:
          _target_: rbyte.io.Hdf5DataFrameBuilder
          fields:
            ego_vehicle_controls:
              timestamp/nanoseconds/value:
                _target_: polars.Datetime
                time_unit: ns

              acceleration_pedal/ratio/unitless/value:
              steering_wheel_angle/angle/radians/value:

            satellite:
              timestamp/nanoseconds/value:
                _target_: polars.Datetime
                time_unit: ns

              speed/meters_per_second/value:

      - _target_: pipefunc.PipeFunc
        output_name: aligned
        mapspec: "camera_front_blur_meta[i], lidar_velodyne_meta[i], vehicle_data[i] -> ${.output_name}[i]"
        func:
          _target_: makefun.create_function
          func_signature: "align(*, camera_front_blur_meta, lidar_velodyne_meta, vehicle_data)"
          func_impl:
            _target_: rbyte.io.DataFrameAligner
            separator: /
            fields:
              camera_front_blur_meta:
                key: timestamp

              lidar_velodyne_meta:
                key: timestamp
                columns:
                  timestamp:
                    method: asof
                    strategy: nearest
                    tolerance: 100ms

              vehicle_data:
                ego_vehicle_controls:
                  key: timestamp/nanoseconds/value
                  columns:
                    timestamp/nanoseconds/value:
                      method: asof
                      strategy: nearest
                      tolerance: 100ms

                    acceleration_pedal/ratio/unitless/value:
                      method: asof
                      strategy: nearest
                      tolerance: 100ms

                    steering_wheel_angle/angle/radians/value:
                      method: asof
                      strategy: nearest
                      tolerance: 100ms

                satellite:
                  key: timestamp/nanoseconds/value
                  columns:
                    speed/meters_per_second/value:
                      method: interp

      - _target_: pipefunc.PipeFunc
        renames:
          self: aligned
        output_name: filtered
        mapspec: "${.renames.self}[i] -> ${.output_name}[i]"
        func:
          _target_: hydra.utils.get_method
          path: polars.DataFrame.sql
        bound:
          query: |
            SELECT * FROM self WHERE COLUMNS(*) IS NOT NULL

      - _target_: pipefunc.PipeFunc
        renames:
          keys: input_id
          values: filtered
        output_name: samples_aggregated
        func:
          _target_: rbyte.io.DataFrameConcater
          key_column: input_id
